<root>
	<menu n="home"     t="Home"          u="main.html" />
	<menu n="download" t="Download"      u="download.html" />
	<menu n="doc"      t="Documentation" u="doc.html">
		<submenu u="#top"	t="Top" />
		<submenu u="#history"	t="Project history" />
		<submenu u="#other"	t="Other" />
	</menu>
	
	<menu n="about"    t="About"         u="about.html" />

	<menu n="doc/versioning" t="" u="docs/versioning.html" hidden="1" />
	<menu n="doc/respons" t="" u="docs/responsibilities.html" hidden="1" />
</root>
