<root>
	<menu n="home"     t="Home"          u="main.html" />
	<menu n="download" t="Download"      u="download.html" />
	<menu n="doc"      t="Documentation" u="doc.html">
		<submenu u="doc.html"	t="Top" />
		<submenu u="docs/history.html"	t="Project history" />
		<submenu u="docs/responsibilities.html" t="Resposabilities"  />
		<submenu u="docs/coding.html" 	t="Coding standards"  />
		<submenu u="docs/release.html"	t="Releasing a new version"  />
	</menu>
	
	<menu n="about"    t="About"         u="about.html" />

	<menu n="doc/versioning" t="" u="docs/versioning.html" hidden="1" />
	<menu n="doc/respons" t="" u="docs/responsibilities.html" hidden="1" />
</root>
